<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
   <mat-card>
     <mat-card-header>
       <mat-card-title>
         <h3>{{dish.name | uppercase}}</h3>
       </mat-card-title>
     </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}" >
     <mat-card-content>
       <p>{{dish.description}}</p>
     </mat-card-content>
     <mat-card-actions>
        <button mat-button  [routerLink]="['/dishdetail',prev]">
        <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button  [routerLink]="['/dishdetail',next]">
        <span class="fa fa-chevron-right fa-lg"></span>
        </button>
     </mat-card-actions>
   </mat-card >
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list>
      <mat-list-item>
        <h3>Comments</h3>
      </mat-list-item>
      <mat-list-item *ngFor="let i of dish.comments" >
        <p matLine>{{i.comment}}</p>
        <p matLine>{{i.rating+" Stars"}}</p>
        <p matLine>{{"-- "+i.author}} {{i.date | date : 'MMM d, y'}}</p>
      </mat-list-item>
    </mat-list>
    <mat-list *ngIf="commentform.valid" id="preview" >
      <mat-list-item >
        <p matLine>{{  commentform.value.comment }}</p>
        <p matLine>{{  commentform.value.rating + " Stars" }}</p>
        <p matLine>{{ "-- "+ commentform.value.author }}</p>
      </mat-list-item>
    </mat-list>
    <div class="form-size">
     <form novalidate [formGroup]="commentform" (ngSubmit)="onSubmit()" #cform="ngForm"> 
      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-error *ngIf="fomErrors.author">
            {{ fomErrors.author }}
          </mat-error>
        </mat-form-field>
      </p>
      <table>
        <td>
          <mat-slider min=1 max=5 step=1 thumbLabel tickInterval=1 formControlName="rating" ></mat-slider>
        </td>
      </table>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="comment" placeholder="Comment" rows=8 required></textarea>
          <mat-error *ngIf="fomErrors.comment">
            {{ fomErrors.comment }}
          </mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white"
      [disabled]="commentform.invalid" (click)="preview.hide" >Submit</button>
     </form>
    </div>
  </div>
  <div [hidden]="dish || errMess"  fxFlex>
    <mat-spinner></mat-spinner><h4>Loading...Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  
</div>